<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gurmehar Singh</title>
	<link href='https://fonts.googleapis.com/css?family=Noto Nastaliq Urdu' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Naskh Arabic' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
	<style>
		body{
			background-color: #201f1f;
			overflow-y: scroll;
		}

		#heading{
			font-family: Source Code Pro, Courier;
			position: relative;
			text-align: center;
			font-size: 7vh;
			color: white;
		}
	</style>
</head>
<body>
	<div id="heading">
		
	</div>
</body>
<script>
	function titleAnimation(l, n, el, t, decay, floor){
		if (n >= l.length){
			return
		}
		el.innerHTML = l[n];
		if (t < floor){
			t = floor
		}
		setTimeout(function(){
			titleAnimation(l, n + 1, el, t * decay, decay)
		}, t)
	}

	function animateTitleOpening(elementId, endText){
		var element = document.getElementById(elementId)
		var textIterations = []
		textIterations.push(endText)
		var lettersRemoved = []
		var lettersToRemove = endText.split("")

		for (var i = 0; i < Math.round(endText.length * 2); i++){
			var newText = textIterations[textIterations.length - 1]
			if (i % 2 == 1){
				var targetLetter = lettersToRemove[Math.floor(Math.random() * lettersToRemove.length)]
				lettersToRemove.splice(lettersToRemove.indexOf(targetLetter), 1)
				lettersRemoved.push(targetLetter)
				var randomNumber = String(Math.round(Math.random()))
				newText = newText.replace(targetLetter, randomNumber)
			}

			//add a number either before or after the string
			var randomNumber = String(Math.round(Math.random()))
			if (Math.random() < 0.5){
				newText = randomNumber + newText
			}
			else{
				newText = newText + randomNumber
			}

			textIterations.push(newText)
		}

		textIterations.reverse()

		titleAnimation(textIterations, 0, element, 200, 0.8, 120)
	}

	animateTitleOpening("heading", "Gurmehar Singh")
</script>
</html>